<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swag-Labs Automation Project" parallel="tests" thread-count="1" verbose="10">
    <listeners>
        <listener class-name="listeners.Listener" />
    </listeners>

    <test name="test login with firefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="testcases.LoginTest"/>
        </classes>
    </test>
    <test name="test login with chromium">
        <parameter name="browser" value="chromium" />
        <classes>
            <class name="testcases.LoginTest"/>
        </classes>
    </test>
    <test name="test login with webkit">
        <parameter name="browser" value="webkit" />
        <classes>
            <class name="testcases.LoginTest"/>
        </classes>
    </test>
</suite>